<div class="container mt-4">
  <div class="row">
    <div
      class="col-md-4 mb-3"
      *ngFor="let order of orders$ | async; let i=index;trackBy: trackByItems"
    >
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">{{ order.productName }}</h5>
          <p class="card-text">
            Order ID: {{ order.orderId }}<br />
            Price: {{ order.price | currency }}
          </p>
        </div>
        <div class="card-footer text-end">
          <button class="btn btn-success btn-sm" (click)="onSelectOrder(order)">
            Assign
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
