.container {
  font-family: 'DMSans-Regular', sans-serif;
}
.card-title {
  color: #007bff;
}

.card-footer {
  background-color: #f8f9fa;
}

.card-text .badge {
  font-size: 0.85rem;
}

.fas {
  margin-right: 0.5rem;
}
