.app-navbar {
  &__brand {

  }

  &__item {
    &:hover {
      background-color: #f8f9fa;
    }
  }

  &__link {
    transition: color 0.3s ease-in-out;

    &--active {
      color: #007bff;
      font-weight: bold;
    }
  }
}
