<div class="container mt-4">
  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <ng-container *ngIf="selectedOrder$ | async as selectedOrder">
            <p><strong>ID del Pedido:</strong> {{ selectedOrder.orderId }}</p>
            <p><strong>Producto:</strong> {{ selectedOrder.productName }}</p>
            <p><strong>Precio:</strong> {{ selectedOrder.price | currency }}</p>
            <p>
              <strong>Lat:</strong> {{ selectedOrder.deliveryLocation.latitude
              }}
            </p>
            <p>
              <strong>Lng:</strong> {{ selectedOrder.deliveryLocation.longitude
              }}
            </p>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
