.route-card {
  border: 1px solid #ddd;
  border-radius: 4px;
}



.order-item__title {
  margin-bottom: 0;
  font-weight: bold;
}

.order-item__details {
  margin-bottom: 0;
  font-size: 0.9em;
  color: #666;
}

.order-item__btn {
  font-size: 0.8em;
}
