.container {
  font-family: 'DMSans-Regular', sans-serif;
}

.route-card {
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.route-card__header {
  background-color: #f8f9fa;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 10em !important;
}

.route-card__location {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #6c757d;
}

.route-card__location > div {
  margin-bottom: 0.25rem; /* Espacio entre latitud y longitud */
}

.route-card__location-icon {
  margin-right: 0.5rem;
  color: #007bff;
}

.route-card__order-item {
  transition: background-color 0.3s ease;
}

.badge {
  font-size: 0.8rem;
  margin-left: 0.5rem;
}

.route-card__order-item:hover {
  background-color: #f0f0f0;
}

.order-item__location {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #6c757d;
  margin-top: 0.5rem;
}

.order-item__location i {
  margin-right: 0.5rem;
  color: #007bff;
}
.card-header {
  min-height: 100%;
}
